@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

a.active {
  color: red;
}

@layer utilities {
  .l-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  }

  .full-w-custom {
    @apply relative w-[100vw];
    left: calc(-50vw + 50%);
  }
}
